[Journal]
Storage={{ boss__journald__journald_storage_option }}
Compress={{ boss__journald__journald_compress_option }}
Seal={{ boss__journald__journald_seal_option }}
SplitMode={{ boss__journald__journald_splitmode }}
SyncIntervalSec={{ boss__journald__journald_sync_interval }}
RateLimitInterval={{ boss__journald__journald_rate_limit_interval }}
RateLimitBurst={{ boss__journald__journald_rate_limit_burst }}
SystemMaxUse={{ boss__journald__journald_system_max_use }}
SystemKeepFree={{ boss__journald__journald_system_keep_free }}
SystemMaxFileSize={{ boss__journald__journald_max_file_size }}
RuntimeMaxUse={{ boss__journald__journald_runtime_max_use }}
RuntimeKeepFree={{ boss__journald__journald_runtime_keep_free }}
RuntimeMaxFileSize={{ boss__journald__journald_runtime_max_file_size }}
MaxRetentionSec={{ boss__journald__journald_max_retention_sec }}
MaxFileSec={{ boss__journald__journald_max_file_sec }}
ForwardToSyslog={{ boss__journald__journald_forward_to_syslog }}
ForwardToKMsg={{ boss__journald__journald_forward_to_kmsg }}
ForwardToConsole={{ boss__journald__journald_forward_to_console }}
ForwardToWall={{ boss__journald__journald_forward_to_wall }}
TTYPath={{ boss__journald__journald_tty_path }}
MaxLevelStore={{ boss__journald__journald_max_level_store }}
MaxLevelSyslog={{ boss__journald__journald_max_level_syslog }}
MaxLevelKMsg={{ boss__journald__journald_max_level_kmsg }}
MaxLevelConsole={{ boss__journald__journald_max_level_console }}
MaxLevelWall={{ boss__journald__journald_max_level_wall }}
